<html>
<head>

</head>
<body>
  <div id="app">
     <h1>{{ $t("message.hello") }}</h1>
     <h1>{{ $t("music") }}</h1>
     <button @click="onChangeLang">切换语言</button>
    <h1> {{ message1 }}</h1>
     <input v-model="message1">

    <p>Using v-html directive: <span v-html="rawHtml"></span></p>

    <span v-bind:title="message1">
      {{time}}
    </span>
    <p>{{echo}}</p>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <button v-on:click="onclick">click me</button>

      <div v-if="type === 'A'">
        A
      </div>
      <div v-else-if="type === 'B'">
        B
      </div>
      <div v-else-if="type === 'C'">
        C
      </div>
      <div v-else>
        Not A/B/C
      </div>
  </div>


  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>

  <script src="en.js"></script>

  <script src="zh.js"></script>

  <script>
  //console.log(en_message)

  // 准备翻译的语言环境信息
  const messages = {
    en: {
      message: {
        hello: 'hello world'
      }
    },
    zh: {
      message: {
        hello: '你好！'
      }
    },
    ja: {
      message: {
        hello: 'こんにちは、世界'
      }
    }
  }
  // 通过选项创建 VueI18n 实例
  const i18n_local = new VueI18n({
    locale: 'zh', // 设置地区
    messages, // 设置地区信息
  })

  // 通过选项创建 VueI18n 实例
  const i18n = new VueI18n({
    locale: 'en', // 设置地区
    messages: {
      'en': en_message,
      'zh': zh_message
    }
  });

  var app = new Vue({
    el: '#app',
    i18n,
    data: {
      message1: 'Hello Vue!',
      type: "A",
      rawHtml:"<a href='www.baidu.com'>baidu</a>",
      time:  new Date().toLocaleString(),
      todos: [
        { text: '学习 JavaScript' },
        { text: '学习 Vue' },
        { text: '整个牛项目' }
      ]
    },
    computed: {
      echo : function() {
        return this.time.split('').reverse().join('');
      }
    },
    methods:{
      onChangeLang: function(){
        this.$i18n.locale= 'zh'
      },
      onclick: function () {
      this.time = this.time.split('').reverse().join('')
      }
    }
  })
</script>
</body>

</html>
